*.zip
*/.idea
*/__pycache__
AlphaZero_Implementation
Orthello
Papers
*.pickle
*.ipynb_checkpoints
CartPole/.idea
CartPole/__pycache__
CartPole/Data/*
ResultsAndTesting/ArchivedData/*
CartPole/NetCheckpoints/*
CartPole/PythonTesting.ipynb
Figures
*.txt
*.pyc
*.aux
*.fls
*.gz
*.jpg
*.png
*.log
*.fdb_latexmk
*.bbl
*.blg
*.csv
*.json